<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("parts/head", { title: 'Admin Panel' }) %>
		<meta property="og:title" content="discordboats.club" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://discordboats.club" />

        <meta property="og:site_name" content="discordboats.club">
        <meta name="theme-color" content="#90CAF9">
        <meta name="title" content="Admin Panel">
    </head>

    <body>
        <div class="header">
            <%- include("parts/header") %>
        </div>
        <div class="main">
            <div class="container">
                <div class="row">
                    <h3>Admin Panel</h3>
                    <hr>
					<br>
					<br>
                    <a href="staff/queue" class="square blue btn btn-orange btn-1x">Staff Bot Queue Page</a>
					<a href="/staff" class="square blue btn btn-red btn-1x">Staff List</a>
					<br>
                    <br>
                    <br>
                    <br>
					<h3>Verification queue</h3>
					<subtitle>Bots queued for verification.</subtitle>
					<hr>
					<% if (botqueue.rawBots.length == 0) { %>
                        <p>Oh, there are currently no bots queued for verification. Your job is done.</p>
                     <% } else { %>
                        <div class="bot-cards">
                            <%- botqueue.chunks.map(chunk => `<div class="row bot-card">${chunk.map(bot => include("parts/botCard", {bot, queue: true, config})).join("")}</div>`).join("") %>
                        </div>
                    <% } %>
                </div>
               
        </div>
                </div>
            </div>
        </div>
<div class="container">
  <div class="card">
 <div class="card__image-container">
       <img class="card__image" src="https://images.unsplash.com/photo-1519999482648-25049ddd37b1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2126&q=80" style=" vertical-align: middle; width: 128px !important; height: 248px !important;">
     <div class="card__content">
       <h1 class="card__title">CARD TEST L1O1O1O1</h1>
     <p>TETETETETTETETETETETE</p>
    </div>
  </div>
</div>
    </div>
    </body>
    <footer>
        <%- include("parts/footer") %>
        <%- include("parts/scripts") %>
    </footer>
</html>
