<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("parts/head", { title: "Staff List" }) %>
        <meta property="og:title" content="Our Staff on discordboats.club" />
        <meta property="og:description" content="discordboats.club - Discord bot list with an evergrowing directory and userbase. Come enrich your discord experience with our directory of bots." />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://discordboats.club/staff" />
        <meta property="og:image" content="https://raw.githubusercontent.com/discordboats-club/website/old/static/logo.png" />
        <meta property="og:site_name" content="discordboats.club">
        <meta name="theme-color" content="#90CAF9">
        <meta name="title" content="Home">
        <meta name="description" content="discordboats.club -Discord bot list with an evergrowing directory and userbase. Come enrich your discord experience with our directory of bots.">
        <meta name="keywords" content="Discord,Discord Bot,Discord Bots,discordboats,DBC,Discord Bot List,discord boats,boats,discordboats.club,dboats,dbots,dbot,bots,list,directory,bot list">

    </head>

    <body>
        <div class="header">
            <%- include("parts/header") %>
        </div>
         <div class="main">
            <div class="container">

				<% if (staff.length == 0) { %>
					<p>There's no bots on this site at the moment. <a href="/dashboard/new">Add one?</a></p>
					<% } else { %>
					<div class="bot-cards">
						<h3>Our Staff</h3>
						<hr>
						<br>
						<%- StaffChunk.map(chunk => `<div class="row bot-card">${chunk.map(staff => include("parts/staffCard", {staff})).join("")}</div>`).join("") %>
					</div>
                <% } %>
				
            </div>
        </div>
    </body>
    <footer>
        <%- include("parts/footer") %>
        <%- include("parts/scripts") %>
    </footer>
</html>
